

*{
  box-sizing: border-box;
  margin: 0;
  
}
body{
  overflow-y:hidden;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}

.commune{
  background-color: red;
  width: 10px;
  height: 10px;
}
.position{
  position: absolute;
  top: 100px;
  left: 10px;
  padding: 10px;
  z-index: 400;
}
.form{
  position: absolute;
  top: 10px;
  right: 25%;
  z-index: 400;
  padding: 10px;
}


main{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  
  
}

.left-side{
  width: 50%;
}
.right-side{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.modal{
  
  width: 50%;
  height: 50%;
  position: absolute;
  top: 10%;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dark{
  visibility: hidden;
}
.line-chart ,.close{
  width: 80%;
  outline: none;
  padding: 5px;
  border: none;
  background-color: beige;
  border-radius: 5px;

}

